# Numpy 연습문제

In [2]:
import numpy as np

### 1.

넘파이를 사용하여 다음과 같은 행렬을 만드시오.

In [124]:
#10 20 30 40
#50 60 70 80

In [13]:
a = np.array([[10,20,30,40],[50,60,70,80]])
a

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

### 2.

다음 행렬과 같은 행렬이 있다.

In [15]:
m = np.array([[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]])
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

### 2.1

이 행렬에서 값 7 을 인덱싱한다.

In [16]:
m[1,2]

7

### 2.2

이 행렬에서 값 14 을 인덱싱한다.

In [17]:
m[2,4]

14

### 2.3

이 행렬에서 배열 [6, 7] 을 슬라이싱한다.

In [20]:
m[1,1:3]

array([6, 7])

### 2.4

이 행렬에서 배열 [7, 12] 을 슬라이싱한다.

In [21]:
m[1:,2]

array([ 7, 12])

### 2.5

이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.

In [23]:
m[:2,3:]

array([[3, 4],
       [8, 9]])

### 3.

2번의 행렬 m을 1차원 벡터 f 로 변환한 후 다음의 문제를 푸시오.

In [25]:
f = np.array(m).flatten()
f

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [32]:
f1 = f[2:]
f1

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

### 3.1

이 배열에서 3의 배수를 찾아라.

In [33]:
f1[f1 % 3 == 0]

array([ 3,  6,  9, 12])

### 3.2

이 배열에서 4로 나누면 1이 남는 수를 찾아라.

In [34]:
f1[f1 % 4 == 1]

array([ 5,  9, 13])

### 3.3

이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.

In [39]:
f2 = f1[np.logical_and(f1 % 3 == 0, f1 % 4 == 1)]
f2

array([9])

### 4.

In [62]:
a = np.eye(N=5, M=5, k=1)
b = np.eye(N=5, M=5, k=0)
c = np.eye(N=5, M=5, k=-1)
f = a + b*2 + c*3
f = f.astype(int)
f

array([[2, 1, 0, 0, 0],
       [3, 2, 1, 0, 0],
       [0, 3, 2, 1, 0],
       [0, 0, 3, 2, 1],
       [0, 0, 0, 3, 2]])

### 5.

0에서 10까지 랜덤 실수값으로 이루어진 5 x 6 형태의 데이터 행렬을 만들고 이 데이터에  대해 다음과 같은 값을 구하시오.

In [108]:
random_num = 10 * np.random.random_sample((5, 6)) + 0
random_num

array([[4.76243587, 4.93305818, 4.88214497, 9.80072169, 4.34978862,
        0.88831436],
       [1.60262667, 4.19613784, 0.77432238, 5.99307793, 2.76191769,
        5.09701638],
       [6.4069698 , 4.04049061, 5.55407845, 8.18225667, 6.3813378 ,
        6.47889123],
       [3.36468084, 1.09176879, 8.03104521, 8.32539427, 1.39583046,
        1.38814688],
       [3.62385915, 0.32552883, 0.61312353, 4.3441299 , 0.81528691,
        9.42179804]])

### 5.1

전체의 최댓값

In [109]:
np.max(random_num)

9.800721685812103

### 5.2

각 행의 합

In [110]:
random_num.sum(axis=1)

array([29.61646369, 20.42509889, 37.04402456, 23.59686645, 19.14372636])

### 5.3

각 행의 최댓값

In [111]:
np.argmax(random_num, axis=1)

array([3, 3, 3, 3, 5], dtype=int64)

### 5.4

각 열의 평균

In [112]:
np.mean(random_num, axis=0)

array([3.95211447, 2.91739685, 3.97094291, 7.32911609, 3.1408323 ,
       4.65483338])

### 5.5

각 열의 최솟값

In [113]:
np.argmin(random_num, axis=0)

array([1, 4, 4, 4, 4, 0], dtype=int64)

### 6.

다음 배열은 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 세번째 행에 수학 성적을 적은 배열이다. 영어 성적을 기준으로 각 열(column)을 재정렬하시오.

In [114]:
grade = np.array([[1,2,3,4],[46,99,100,71],[81,59,90,100]])
grade

array([[  1,   2,   3,   4],
       [ 46,  99, 100,  71],
       [ 81,  59,  90, 100]])

In [116]:
grade1 = grade[:,grade[1].argsort()]
grade1

array([[  1,   4,   2,   3],
       [ 46,  71,  99, 100],
       [ 81, 100,  59,  90]])

### 7.

주사위를 100번 던지는 가상 실험을 파이썬으로 작성하고,  던져서 나오는 숫자의 평균을 구하시오.

In [123]:
import random
i = 0
for i in range(101):
    i = random.randint(1, 6)

dice = np.array(i)
np.mean(dice)

3.0

### 8.

가격이 10,000원인 주식이 있다. 이 주식의 일간 수익률(%)은 기댓값이 0%이고 표준편차가 1% 인 표준 정규 분포를 따른다고 하자. 250일 동안의 주가를 무작위로 생성하시오.

In [ ]:
import matplotlib.pyplot as plt